<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>   

    <!--
        标签的前后顺序必须严格按照下面列出的顺序进行
        (properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,objectWrapperFactory?,plugins?,environments?,databaseIdProvider?,mappers?)"。
     -->
    <!-- 别名 -->
    <typeAliases>
        <typeAlias type="com.cshuig.scm.entity.UserEntity" alias="user"/>
    </typeAliases>
</configuration>

